<a href="https://colab.research.google.com/github/yuganshnirwan/Basics-of-Python/blob/main/practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA using python

In [8]:
# EDA Using python
## Expet-1
### Python basics
print("Hellow this isw my first python program")
a = "hello"
print(a)
print("hello"); print("i am good "); print("bye bro")
print("hello world!",end= " ")
print("I will print on the same line ")

Hellow this isw my first python program
hello
hello
i am good
bye bro
hello world!

#Print numbers
a=3
print(a)
print(358)

In [9]:
# Case-sensitive
a =4
A = "Sally"
print(a)
print(A)

4
Sally

In [12]:
#Many values to multiple variables
x,y,z = "orange","banana","watermelon"
print(x)
print(y)
print(z)

orange
banana
watermelon

In [13]:
a = 10
b = 30
print("Subtraction = ",a-b)
print("Multiplication = ",a*b)

Subtraction =  -20
Multiplication =  300

In [17]:
#Understanding data types
x = 10
y = 3.14
z = "python"
flag = True

In [22]:
# calculator
a_str = input("Enter first number:")
b_str = input("enter second number:")

# Convert inputs to integers
a = int(a_str)
b = int(b_str)

print("Concatenation of inputs (as strings) =", a_str + b_str)
print("Sum =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)

Enter first number:3
enter second number:5
Concatenation of inputs (as strings) = 35
Sum = 8
Subtraction = -2
Multiplication = 15
Division = 0.6

In [31]:
name = input("enter your name : ")
age = input("Enter your age: ")
a_str = input("Enter marks for first subject: ")
b_str = input("Enter marks for second subject: ")
c_str = input("Enter marks for third subject: ")
d_str = input("Enter marks for fourth subject: ")
e_str = input("Enter marks for fifth subject: ")
a = int(a_str)
b = int(b_str)
c = int(c_str)
d = int(d_str)
e = int(e_str)
sum = a+b+c+d+e
average = sum/5
print("average marks is equal to ",average)

enter your name : 5
Enter your age: 3
Enter marks for first subject: 2
Enter marks for second subject: 5
Enter marks for third subject: 8
Enter marks for fourth subject: 3
Enter marks for fifth subject: 9
average marks is equal to  5.4

In [29]:
#Area of triangle and rectangle
l_str = input("Enter length of rectangle: ")
b_str = input("Enter breadth of rectangle: ")
l = int(l_str)
b = int(b_str)
area = l*b
print("Area of rectangle is :",area)

Enter length of rectangle: 2
Enter breadth of rectangle: 5
Area of rectangle is : 10

In [34]:
a= tuple(5,4,5)
b = tuple(4,7,8)
c = a**b
print(c)

TypeError: tuple expected at most 1 argument, got 3

In [35]:
#Understanding data types
x = 10
y = 3.14
z = "Python"
A = True
C = 3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>